.root {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: rgb(238, 238, 238);
    display: grid;
    place-items: center;
}
.form{
  border: 1px solid rgb(39, 53, 255);
  padding: 1rem;
  height: auto;
}
@media screen and (max-width: 480px) {
  .form {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .form {
    width: 75%;
  }
}
@media screen and (min-width: 992px) {
  .form {
    width: 50%;
  }
}